<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AKUAKART - Seller dashboard</title>

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <script src="/js/angular.min.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/notify.js"></script>

</head>
<body ng-app="akuakart" ng-controller="akuakartController">

    <%- include('components/navbar') %>

    <div class="container" style="padding-top:10px">
        <div class="row">
            <div class="col-sm-3">
                <div class="well">
                    <h4>
                        Shop by categories
                    </h4>
                    <%- include('components/categoryTree') %>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="well">
                    <h4>
                        You searched for "<%= query %>"
                    </h4>
                    <hr/>
                    <% items.forEach(function(item){ %>
                        <%- include('components/item',{item : item}) %>
                        <hr/>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>

    <script>

    <% if(errMsg){ %>
        setTimeout(function(){
            $.notify("<%= errMsg %>","error");
        },500);
    <% } %>

    <% if(msg){ %>
        setTimeout(function(){
            $.notify("<%= msg %>","success");
        },500);
    <% } %>

    var app = angular.module("akuakart",[]);
    app.controller("akuakartController",function($scope,$http){
        $scope.register = function(){
            if($scope.registerForm.password != $scope.confirmPasswordInput){
                return $.notify("Passwords do not match","erorr");
            }
            console.log($scope.registerForm);
            $http({
                method : 'POST',
                url : '/auth/register',
                //data : 'username='+$scope.username+'&email='+$scope.email+"&password="+$scope.password,
                data : $scope.registerForm
                //headers : {'Content-Type' : 'application/json'}
            }).success(function(data) {
                if(data.err){
                    $.notify(data.message,"error");
                }else{
                    $.notify("User successfully registered","success");
                    $("#registerModal").modal("hide");
                }
            }).error(function(data) {
                $.notify("Error");
            });
        }
    });

    </script>
</body>
</html>
